.header {
  display: flex;
  align-items: center;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  max-height: var(--header-height);
  position: relative;
}

.header__option,
.header__logo {
  display: flex;
}

.header__option {
  content: "";
  position: absolute;
  left: 1rem;
}

.header__logo {
  margin: 0 auto;
}

.header__logo__image {
  width: auto;
  height: 22px;
  flex-grow: 0;
  flex-shrink: 0;
  object-fit: contain;
}

.header__profile {
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
}

.header__icon {
  color: white;
}
